

#container {
    background-image: url("/assets/flooring.png");
    position: relative;
    overflow: auto;
    width: 800px;
    height: 600px;
}

#candle-canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#screen-canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
}


